/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

#root, #__next {
  isolation: isolate;
}

body {
  height: 100dvh;
  background-color: #181818;
  /* #181818 */
  color: white;
  font-family:  "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-content: center;
}

#root {
  height: 100%;
  align-content: center;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background: #444;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

main {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 0.3rem;
  /* height: 500px; */
  height: 100%;
}

dialog {
  padding: 0;
}


@media (max-width: 800px) {
  main {
    flex-direction: column;
    min-height: 100%;
    height: auto;
  }
}

@media (max-width: 405px) {
  dialog > section {
    width: 300px !important;
  }
}





