.backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.464);
    z-index: 9999999;
    align-content: center;
    top: 0;
    left: 0;
    border: none;
}

.profile {
    position: relative;
    background-color: #101218;
    width: 400px;
    margin: auto;
    padding: 1rem 2rem;
    border-radius: 15px;
    border: 2px solid grey;
    color: white;
}

.info {
    background-color: #313338;
    border-radius: 15px;
    padding: 1rem;
    padding-bottom: 0.5rem;
}

.profile > div {
    margin-bottom: 1rem;
}

.profile h3 {
    text-align: center;
}

.bio {
    font-weight: bold;
}

.date {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
    border-top: 1px solid grey;
    padding-top: 0.5rem;
}

.profile img {
    width: 8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    gap: 0.5rem;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    border-bottom: 1px solid grey;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem !important;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    transition: transform 150ms ease;
    padding: 0;
    margin: 0;
}

.close:hover {
    cursor: pointer;
    transform: scale(1.8);
}

.close svg:hover {
    stroke: red;
}

.buttons button, .edit {
    color: inherit;
    border-radius: 8px;
    padding: 0.3rem 0.6rem;
    border: none;
    transition: transform 150ms ease;
    margin: 0;
}

.username {
    color: rgb(170, 149, 149);
    font-weight: bold;
}

.addFriend {
    background-color: #3cca35;
}

.removeFriend {
    background-color: #ca3535;
}

.edit, .messageBtn {
    background-color: #3551ca;
}

.buttons button:hover, .edit:hover {
    cursor: pointer;
    transform: scale(1.2);
    filter: brightness(1.3);
}