.info, .main {
    padding: 0.5rem;
    border-bottom: 2px solid rgb(178, 176, 176);
}

.main {
    overflow-y: auto;
    position: relative;
}

.info > button{
    background: none;
    border: none;
    color: inherit;
    font-weight: bold;
    font-size: 1.5rem;
    transition: transform 200ms ease;
    padding: 0;
}

.info button:hover {
    text-decoration: underline;
    color: red;
    cursor: pointer;
    transform: scale(1.05);
}




.info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
}

.info img {
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.messenger {
    border-radius: 15px;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.messageInfo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.main ul {
    padding: 0;
    margin: 0;
}

.main li {
    list-style: none;
}

.message > div {
    display: flex;
    gap: 0.5rem;
}

.message {
    margin-bottom: 0.2rem;
}

.messageDate {
    width: max-content;
    font-size: 1rem;
    padding-left: 0.2rem;
    visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(90, 88, 88);
    padding: 0.3rem 0.8rem;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 150ms 250ms ease;
    z-index: 10;
}

.message > div > div:hover .messageDate {
    opacity: 1;
    visibility: visible;
}

.yourMessage {
    background-color: #3551ca;
    border-radius: 15px;
    margin-left: auto;
}

.yourMessage + p {
    text-align: right;
}

.otherMessage {
    background-color: rgb(90, 88, 88);
    border-radius: 15px;
}

.yourDiv {
    justify-content: flex-end;
}

.messageContent {
    width: fit-content;
    border-radius: 15px;
    padding: 0.4rem 0.6rem;
    font-size: 1.1rem;
}
.message img, .void {
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    flex-shrink: 0;
    align-self: flex-start;
}

.messageSender {
    font-weight: bold;
}

