.messenger {
    flex: 2;
}
.info, .main {
    border-bottom: 2px solid rgb(178, 176, 176);
}


.main {
    overflow-y: auto;
    position: relative;
    padding: 0.5rem;
    padding-bottom: 0;
    padding-top: 1.4rem;
    flex: 1;
    align-content: end;
}

.info > button:nth-of-type(3) {
    margin-left: auto;
    flex-shrink: 0;
}

.info > button {
    background: none;
    border: none;
    color: inherit;
    font-weight: bold;
    font-size: 1.3rem;
    transition: transform 200ms ease;
    padding: 0;
}

.info > button:first-of-type {
    flex-shrink: 0;
}

.info button:hover {
    text-decoration: underline;
    color: red;
    cursor: pointer;
    transform: scale(1.05);
}

.info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
    padding: 0.8rem 1rem;
}

.info img {
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.messenger {
    display: flex;
    flex-direction: column;
}

.mainLoading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageInfo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.main ul {
    padding: 0;
    margin: 0;
}

.main li {
    list-style: none;
}

.message > div {
    display: flex;
    gap: 0.5rem;
}

.message {
    margin-bottom: 0.2rem;
}

.messageDate {
    width: max-content;
    font-size: 0.95rem;
    padding-left: 0.2rem;
    visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(90, 88, 88);
    padding: 0.2rem 0.8rem;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 150ms 400ms ease;
    z-index: 10;
    border: 2px solid grey;
}

.message > div > div:hover .messageDate {
    opacity: 1;
    visibility: visible;
}

.yourMessage {
    background-color: #ca3535;
    border-radius: 15px;
    margin-left: auto;
}

.yourMessage + p {
    text-align: right;
}

.otherMessage {
    background-color: rgb(90, 88, 88);
    border-radius: 15px;
}

.yourDiv {
    justify-content: flex-end;
}

.messageContent {
    width: fit-content;
    border-radius: 15px;
    padding: 0.4rem 0.6rem;
    font-size: 1.1rem;
    max-width: 100%;
}

.msgDiv {
    max-width: 75%;
}

.messageImage {
    max-width: 100%;
    cursor: pointer;
    max-height: 250px;
    object-fit: contain;
    margin-bottom: 0.2rem;
}
.message > div > button > img, .void {
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    flex-shrink: 0;
}

.message > div > button {
    background: none;
    border: none;
    padding: 0;
    align-self: flex-start;
    cursor: pointer;
}

.messageSender {
    font-weight: bold;
}

.messageDiv {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding: 0;
}

.messageDiv input {
    resize: none;
    width: 100%;
    height: 40px;
    background-color: #313338;
    border-radius: 10px;
    align-content: center;
    color: inherit;
    font-size: 1.1rem;
    padding: 0.2rem 0.4rem;
    flex: 1;
    border: 2px solid grey;
}

.messageDiv button, .label svg {
    background-color: #ca3535;
    border: none;
    align-self: stretch;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 200ms ease;
    padding: 0 0.5rem;
}

.messageDiv button:hover, .label svg:hover {
    cursor: pointer;
    transform: scale(1.2);
    filter: brightness(1.3);
}


.forms {
    padding: 0.6rem;
}

.loading {
    animation: 800ms linear 0s infinite loading;
}

.sender {
    font-size: 0.9rem;
    position: absolute;
    top: -21px;
    margin-left: 0.5rem;
}

.message > div {
    position: relative;
}

.file {
    display: none;
    width: 11rem;
    margin: auto;
    margin-top: 0.6rem;
    align-items: center;
}

.file button {
    background: none;
    border: none;
    transition: transform 150ms ease;
    padding: 0;
    margin: 0;
}

.file button:hover {
    cursor: pointer;
    transform: scale(1.8);
}

.file button svg:hover {
    stroke: red;
}


.messenger input[type="file"] {
    text-align: center;
    margin: auto;
    pointer-events: none;
    width: 100%;
}
.messenger input[type="file"]::file-selector-button {
    display: none;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}

