.sidebar {
    padding: 0 1rem;
    border-right: 2px solid rgb(178, 176, 176);
}

.you, .sidebar nav {
    border-bottom: 2px solid rgb(178, 176, 176);
    padding: 0.5rem 0;
}

.conversations {
    padding: 0.5rem 0.1rem;
}

.conversations ul {
    padding: 0;
    margin: 0;
}

.info {
    text-align: left;
}

.info > p:first-child {
    font-weight: bold;
}

.info > p:last-child {
    color: rgb(196, 193, 193);
    font-size: 0.85rem;
}

.conversations li {
    list-style: none;
}

.conversation button, .you button {
    color: inherit;
    background: none;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 0.3rem;
    transition: transform 200ms ease;
    border-radius: 10px;
    border: none;
}

.conversation button:hover, .you button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgb(106, 106, 106);
}

.conversation img, .you img {
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    align-self: flex-start;
}