.sidebar {
    flex: 1;
    min-width: 350px;
}

.navButtons {
    flex: 0.5;
    display: flex;
    flex-direction: column;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebarLoading {
    display: flex;
    flex-direction: column;
}

.sidebar nav {
    border-bottom: 2px solid rgb(178, 176, 176);
}

.you {
    padding: 0.8rem 0.5rem;
}

.you img {
    width: 3.2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.sidebar nav {
    justify-content: center;
}

.conversations {
    padding: 0.5rem 0.1rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.conversationsLoading {
    padding: 0.5rem 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.conversation p {
    font-size: 1.2rem;
}

.conversations ul {
    padding: 0;
    margin: 0;
}

.view {
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
}

nav > button, nav > a {
    position: relative;
    font-size: 1.2rem;
    background-color: inherit;
    color: inherit;
    border-radius: 10px;
    border: none;
    text-align: left;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

.you button h3 {
    font-size: 1.2rem;
}

nav > *:last-child {
    margin-top: auto;
}

nav > button svg {
    flex-shrink: 0;
}

nav > button:hover, nav > a:hover {
    background-color: #ca3535 ;
}

nav > button:hover .notification2 {
    fill: white;
}

nav > button:disabled {
    color: grey;
}

nav > button:disabled:hover {
    background-color: rgba(72, 65, 65, 0) ;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
    padding: 1rem 0;
}

.spacer {
    flex: 1;
}

.selected {
    background-color: #ca3535;
    font-weight: bold;
}

.info {
    text-align: left;
}

.info > p:first-child, .user p, .conversation button > p {
    font-weight: bold;
    max-width: 210px; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}

.info > p:last-child {
    color: rgb(196, 193, 193);
    font-size: 0.85rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.conversations li {
    list-style: none;
}

.shadow:hover {
    box-shadow: 0px 1px 0px 0px red;
}

.friendButton {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.friendButton > div {
    position: relative;
}

.circle {
    position: absolute;
    right: 0;
    bottom: 10%;
    min-width: 13px;
}

.notification {
    margin-left: auto;
    flex-shrink: 0;
}

.notification2 {
    margin-left: auto;
    flex-shrink: 0;
}

.friendButton > button, .friendButton > div > button{
    background: none;
    border: none;
    color: inherit;
    font-weight: bold;
    font-size: 1.1rem;
    transition: transform 200ms ease;
    padding: 0;
    text-align: left;
}

.friendButton > button:hover, .friendButton > div > button:hover {
    text-decoration: underline;
    color: red;
    cursor: pointer;
    transform: scale(1.05);
}

.friendButton > button:first-of-type {
    flex-shrink: 0;
}

.createGroup {
    color: inherit;
    margin: auto;
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.3rem 0.7rem !important;
}

.buttons button:disabled {
    background-color: #ffffff00;
}

.buttons button:disabled:hover {
    background-color: rgba(255, 255, 255, 0);
}

.messageButton, .conversation, .you button, .user button, .you a {
    color: inherit;
    background: none;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 0.3rem 0.5rem;
    transition: transform 200ms ease;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}
.you button {
    font-size: 1.2rem;
    padding: 0.3rem 0.2rem !important;
}

.buttons button, .createGroup {
    background-color: #ca3535;
    padding: 0.3rem;
    border: none;
    border-radius: 8px;
    transition: transform 200ms ease;
}

.buttons button {
    background: none;
}

.buttons button:hover svg {
    stroke: red;
}


.conversation > p {
    flex: 1;
    font-weight: bold;
}

.buttons button:hover, .createGroup:hover, .formButtons button:hover {
    cursor: pointer;
    transform: scale(1.2);
    filter: brightness(1.3);
}

.conversation > button:hover, .you button:hover, .user button:hover, .you a:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgb(106, 106, 106);
}

.conversation img, .user img {
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    align-self: flex-start;
}

.loading {
    animation: 800ms linear 0s infinite loading;
}

.search {
    color: inherit;
    background-color: #313338;
    padding: 0.5rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 0.5rem;
    padding-left: 2.2rem;
    border-radius: 10px;
    border: 2px solid grey;
}

.createForm ul {
    background-color: red;
    border-radius: 5px;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
}

.conversations form input {
    resize: none;
    width: 85%;
    display: block;
    margin: auto;
    background-color: #313338;
    border-radius: 10px;
    align-content: center;
    color: inherit;
    padding: 0.5rem;
    flex: 1;
    border: 2px solid grey;
}

.formButtons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.3rem;
}

.formButtons button {
    color: inherit;
    border-radius: 8px;
    padding: 0.3rem 0.6rem;
    border: none;
    transition: transform 150ms ease;
    margin: 0;
}

.formButtons button:last-of-type {
    background-color: grey;
}

.searchDiv {
    position: relative;
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.searchIcon {
    position: absolute;
    left: 8px;
    top: 28px;
    transform: translateY(-50%);
}

.formButtons button:first-of-type {
    background-color: #ca3535;
    font-weight: bold;
    padding: 0.3rem 1rem;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}
@media (min-width: 1000px) {
    .navButtons {
        min-width: 170px;
    }
}
@media (min-width: 800px) AND (max-width: 1000px) {
    nav > button > p, nav > a > p {
        display: none;
    }
    .notification2 {
        position: absolute;
        right: 0;
        top: 10%;
        min-width: 13px;
    }
    .navButtons {
        flex: 0 1 auto;
    }
    nav {
        align-items: center;
    }
    /* nav > button > svg, nav > a > svg {
        width: 25px;
    } */
    .you a h3 {
        display: none;
    }
    .you a img {
        width: 2.8rem;
    }
    .you button h3 {
        display: none;
    }
    .you button img {
        width: 2.8rem;
    }
    .you {
        padding: 0.8rem 0.2rem;
    }
}

@media (max-width: 800px) {
    .navButtons {
        flex-direction: row;
        align-items: center;
    }
    nav {
        flex-direction: row;
        justify-content: center;
        gap: 2vw;
    }

    nav > button > svg, nav > a > svg {
        width: 25px;
    }

    nav > *:last-child {
        margin-top: 0;
        margin-left: auto;
    }

    .notification2 {
        width: 15px;
    }

    nav > *:first-child {
        margin-left: auto;
    }
    nav > button, nav > a {
        font-size: 1rem;
    }
    .conversations ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .sidebar {
        max-height: 450px;
        flex: auto;
    }
    .view {
        font-size: 1.5rem;
        text-align: center;
        padding-top: 0.3rem;
    }
    .navButtons {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
    }
    .sidebar {
        padding-top: 4.8rem;
    }

}

@media (max-width: 750px) {
    nav > button > p, nav > a > p {
        display: none;
    }
    .you a h3 {
        display: none;
    }
    .you a img {
        width: 2.8rem;
    }
    .you button h3 {
        display: none;
    }
    .you button img {
        width: 2.8rem;
    }
    .you {
        padding: 0.8rem 0.2rem;
    }
    .you button {
        padding: 0.3rem 0.2rem;
    }
    .notification2 {
        position: absolute;
        right: 0;
        top: 10%;
        min-width: 13px;
    }
    .sidebar {
        min-width: auto;
    }
}